header, footer{
    display: none;
}

.fake-user-container {
    width: 50%;
    margin: auto;
    padding: 20px;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .fake-user-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }